<footer>
  <!--Desktop-->
    <div class="uk-container uk-visible@m">
      <div class="uk-flex" uk-grid>
          <div class="uk-width-1-2">
            <p class="font-mono font-small">Un proyecto de</p>
            <div class="uk-flex uk-flex-left uk-flex-middle" uk-grid>
              <img data-src="/assets/images/logo-fibgar-white.svg" style="width:36%" uk-img>
              <img data-src="/assets/images/logo-fci-white.svg" style="width:27%" uk-img>
              <img data-src="/assets/images/logo-poder.png" uk-img>
            </div>
          </div>
          <div class="uk-width-1-3">
            <p class="font-mono font-small">Que forma parte de</p>
            <div class="uk-flex uk-flex-left uk-flex-middle logo-footer" uk-grid>
              <img data-src="/assets/images/logo-win-white.png" style="width:61%; margin-top:-34px;" uk-img>
              <img data-src="/assets/images/logo-pplaaf-white.png" style="width:39%; margin-top:-29px;" uk-img>
            </div>
          </div>
          <div class="uk-width-1-6">
            <p class="font-mono font-small">Con el apoyo de</p>
              <div class="logo-footer"><img data-src="/assets/images/logo-luminate.png" uk-img></div>
          </div>
          <div class="uk-width-1-6 uk-hidden">
            <i class='uil uil-exclamation-triangle'></i>
            <li><p class="font-small">{% t footer.disclaimer %}</p></li>
          </div>
        </div>
      </div>
    <!--end desktop-->

    <!--Mobile-->
    <div class="uk-container uk-hidden@m">
      <div class="uk-flex" uk-grid>
          <div class="uk-width-1-1">
            <p class="font-mono font-small">Un proyecto de</p>
            <div class="uk-flex uk-flex-left uk-flex-middle" uk-grid>
              <img data-src="/assets/images/logo-fibgar-white.svg" style="width:36%" uk-img>
              <img data-src="/assets/images/logo-fci-white.svg" style="width:30%" uk-img>
              <img data-src="/assets/images/logo-poder.png" style="width:26%" uk-img>
            </div>
          </div>
      </div>
      <div class="uk-flex" uk-grid>
          <div class="uk-width-1-2">
            <p class="font-mono font-small">Que forma parte de</p>
            <div class="uk-flex uk-flex-left uk-flex-middle" uk-grid>
              <img data-src="/assets/images/logo-win-white.png" style="width:61%; margin-top:-6px;" uk-img>
              <img data-src="/assets/images/logo-pplaaf-white.png" style="width:39%; margin-top:-6px;" uk-img>
            </div>
          </div>
          <div class="uk-width-1-2">
            <p class="font-mono font-small">Con el apoyo de</p>
              <img data-src="/assets/images/logo-luminate.png" style="width:60%; margin-top:12px;" uk-img>
          </div>
      </div>
      <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-1-1 uk-hidden">
          <hr>
          <i class='uil uil-exclamation-triangle'></i>
          <li><p class="font-small">{% t footer.disclaimer %}</p></li>
        </div>
      </div>
    </div>
    <!--end mobile-->

</footer>
