<header uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 600">
    <nav class="uk-navbar-container animated fadeIn delay-1s">
      <div class="uk-container nav-width">
        <div class="navbar-language">
          <a href="#" class="uk-hidden">{% t navbar.language %}</a>
          <div uk-dropdown>
            <ul class="uk-nav uk-navbar-dropdown-nav">
                {% if site.lang == "es" %}
                  {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                  {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                  <li> <a href="{{ link_en }}" >English</a> </li>
                  <li> <a href="{{ link_pt }}" >Português</a> </li>
                {% elsif site.lang == "pt" %}
                  {% capture link_es %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                  {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                  <li> <a href="{{ link_es }}" >Español</a> </li>
                  <li> <a href="{{ link_en }}" >English</a> </li>
                {% elsif site.lang == "en" %}
                  {% capture link_es %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                  {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                  <li> <a href="{{ link_es }}" >Español</a> </li>
                  <li> <a href="{{ link_pt }}" >Português</a> </li>
                {% endif %}
            </ul>
          </div>
        </div>
        <div uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-list">
              <li>
                <a href="{{ site.baseurl_root }}{{ page.url }}" class="logo-navbar">
                  <svg width="190" height="43" viewBox="0 0 190 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0H4.21319V18.321H14.3631V22.3426H0V0Z" fill="white"/>
                    <path d="M29.6616 20.0445C29.236 21.0446 28.6402 21.7575 27.8742 22.1831C27.1082 22.5874 26.2145 22.7895 25.1931 22.7895C24.2355 22.7895 23.3312 22.6086 22.48 22.2469C21.6502 21.8852 20.9161 21.3532 20.2777 20.651C19.6393 19.9488 19.1286 19.0976 18.7456 18.0975C18.3839 17.0974 18.203 15.959 18.203 14.6823V14.1716C18.203 12.9162 18.3839 11.7884 18.7456 10.7883C19.1074 9.78821 19.5968 8.93706 20.2139 8.23486C20.8309 7.53266 21.5438 7.0007 22.3524 6.63896C23.1822 6.25594 24.0653 6.06443 25.0016 6.06443C26.1293 6.06443 27.0337 6.25594 27.7146 6.63896C28.4168 7.02197 28.9701 7.61778 29.3743 8.42637H29.9489V6.51128H33.9705V17.5549C33.9705 18.1933 34.2578 18.5125 34.8323 18.5125H35.4388V22.3426H32.6938C31.9703 22.3426 31.3745 22.1299 30.9064 21.7043C30.4596 21.2787 30.2361 20.7255 30.2361 20.0445H29.6616ZM26.0868 18.9593C27.2571 18.9593 28.1934 18.5763 28.8956 17.8103C29.5978 17.023 29.9489 15.959 29.9489 14.6185V14.2355C29.9489 12.8949 29.5978 11.8416 28.8956 11.0756C28.1934 10.2883 27.2571 9.8946 26.0868 9.8946C24.9165 9.8946 23.9802 10.2883 23.278 11.0756C22.5758 11.8416 22.2247 12.8949 22.2247 14.2355V14.6185C22.2247 15.959 22.5758 17.023 23.278 17.8103C23.9802 18.5763 24.9165 18.9593 26.0868 18.9593Z" fill="white"/>
                    <path d="M38.5126 6.51128H43.2046V0H47.2263V6.51128H52.9396V10.3415H47.2263V17.5549C47.2263 18.1933 47.5135 18.5125 48.0881 18.5125H52.3651V22.3426H45.6623C44.9388 22.3426 44.343 22.1086 43.8749 21.6404C43.428 21.1723 43.2046 20.5765 43.2046 19.853V10.3415H38.5126V6.51128Z" fill="white"/>
                    <path d="M68.7488 20.0445C68.3232 21.0446 67.7274 21.7575 66.9614 22.1831C66.1953 22.5874 65.3016 22.7895 64.2802 22.7895C63.3227 22.7895 62.4184 22.6086 61.5672 22.2469C60.7373 21.8852 60.0032 21.3532 59.3649 20.651C58.7265 19.9488 58.2158 19.0976 57.8328 18.0975C57.4711 17.0974 57.2902 15.959 57.2902 14.6823V14.1716C57.2902 12.9162 57.4711 11.7884 57.8328 10.7883C58.1945 9.78821 58.6839 8.93706 59.301 8.23486C59.9181 7.53266 60.6309 7.0007 61.4395 6.63896C62.2694 6.25594 63.1525 6.06443 64.0887 6.06443C65.2165 6.06443 66.1208 6.25594 66.8018 6.63896C67.504 7.02197 68.0572 7.61778 68.4615 8.42637H69.036V6.51128H73.0577V17.5549C73.0577 18.1933 73.345 18.5125 73.9195 18.5125H74.5259V22.3426H71.781C71.0575 22.3426 70.4617 22.1299 69.9936 21.7043C69.5467 21.2787 69.3233 20.7255 69.3233 20.0445H68.7488ZM65.174 18.9593C66.3443 18.9593 67.2805 18.5763 67.9827 17.8103C68.6849 17.023 69.036 15.959 69.036 14.6185V14.2355C69.036 12.8949 68.6849 11.8416 67.9827 11.0756C67.2805 10.2883 66.3443 9.8946 65.174 9.8946C64.0036 9.8946 63.0674 10.2883 62.3652 11.0756C61.663 11.8416 61.3119 12.8949 61.3119 14.2355V14.6185C61.3119 15.959 61.663 17.023 62.3652 17.8103C63.0674 18.5763 64.0036 18.9593 65.174 18.9593Z" fill="white"/>
                    <path d="M93.9418 22.3426H89.9202V11.2352C89.9202 10.7883 89.8031 10.4585 89.5691 10.2457C89.3563 10.0116 89.069 9.8946 88.7073 9.8946C88.2817 9.8946 87.9413 10.0223 87.6859 10.2776C87.4518 10.533 87.3348 10.916 87.3348 11.4267V22.3426H83.3131V11.2352C83.3131 10.7883 83.1855 10.4585 82.9301 10.2457C82.6961 10.0116 82.4088 9.8946 82.0683 9.8946C81.6853 9.8946 81.3661 10.0223 81.1108 10.2776C80.8554 10.533 80.7278 10.916 80.7278 11.4267V22.3426H76.7061V6.51128H80.7278V8.04335H81.3023C81.43 7.46883 81.7172 7.0007 82.1641 6.63896C82.6322 6.25594 83.2387 6.06443 83.9834 6.06443C84.6856 6.06443 85.2814 6.25594 85.7708 6.63896C86.2602 7.0007 86.5901 7.46883 86.7603 8.04335H87.3348C87.505 7.46883 87.8561 7.0007 88.3881 6.63896C88.9414 6.25594 89.6223 6.06443 90.4309 6.06443C91.4948 6.06443 92.3459 6.42617 92.9843 7.14965C93.6227 7.85184 93.9418 8.83066 93.9418 10.0861V22.3426Z" fill="white"/>
                    <path d="M97.7179 0H101.931V18.321H112.081V22.3426H97.7179V0Z" fill="white"/>
                    <path d="M120.677 15.7356C120.698 16.2037 120.804 16.64 120.996 17.0442C121.209 17.4273 121.485 17.7677 121.826 18.0656C122.188 18.3422 122.592 18.5657 123.039 18.7359C123.507 18.8849 123.996 18.9593 124.507 18.9593C125.507 18.9593 126.273 18.7891 126.805 18.4486C127.337 18.0869 127.72 17.6613 127.954 17.1719L131.401 19.087C131.21 19.4913 130.944 19.9169 130.603 20.3637C130.263 20.7893 129.816 21.183 129.263 21.5447C128.731 21.9064 128.071 22.2043 127.284 22.4384C126.518 22.6725 125.613 22.7895 124.571 22.7895C123.379 22.7895 122.294 22.598 121.315 22.215C120.336 21.832 119.485 21.2787 118.762 20.5552C118.059 19.8318 117.506 18.9487 117.102 17.906C116.719 16.8634 116.527 15.6824 116.527 14.3631V14.1716C116.527 12.9587 116.73 11.8522 117.134 10.8521C117.559 9.85204 118.134 9.00089 118.857 8.2987C119.581 7.5965 120.421 7.05389 121.379 6.67088C122.358 6.26658 123.4 6.06443 124.507 6.06443C125.869 6.06443 127.039 6.30914 128.018 6.79855C128.997 7.26668 129.805 7.87312 130.444 8.61788C131.082 9.34135 131.55 10.1499 131.848 11.0437C132.146 11.9161 132.295 12.7672 132.295 13.5971V15.7356H120.677ZM124.475 9.70309C123.454 9.70309 122.624 9.96908 121.985 10.501C121.347 11.0117 120.932 11.6075 120.741 12.2885H128.209C128.082 11.5437 127.677 10.9266 126.996 10.4372C126.337 9.9478 125.496 9.70309 124.475 9.70309Z" fill="white"/>
                    <path d="M146.923 20.0445C146.498 21.0446 145.902 21.7575 145.136 22.1831C144.37 22.5874 143.476 22.7895 142.455 22.7895C141.497 22.7895 140.593 22.6086 139.742 22.2469C138.912 21.8852 138.178 21.3532 137.539 20.651C136.901 19.9488 136.39 19.0976 136.007 18.0975C135.645 17.0974 135.465 15.959 135.465 14.6823V14.1716C135.465 12.9162 135.645 11.7884 136.007 10.7883C136.369 9.78821 136.858 8.93706 137.475 8.23486C138.092 7.53266 138.805 7.0007 139.614 6.63896C140.444 6.25594 141.327 6.06443 142.263 6.06443C143.391 6.06443 144.295 6.25594 144.976 6.63896C145.678 7.02197 146.232 7.61778 146.636 8.42637H147.21V6.51128H151.232V17.5549C151.232 18.1933 151.519 18.5125 152.094 18.5125H152.7V22.3426H149.955C149.232 22.3426 148.636 22.1299 148.168 21.7043C147.721 21.2787 147.498 20.7255 147.498 20.0445H146.923ZM143.348 18.9593C144.519 18.9593 145.455 18.5763 146.157 17.8103C146.859 17.023 147.21 15.959 147.21 14.6185V14.2355C147.21 12.8949 146.859 11.8416 146.157 11.0756C145.455 10.2883 144.519 9.8946 143.348 9.8946C142.178 9.8946 141.242 10.2883 140.539 11.0756C139.837 11.8416 139.486 12.8949 139.486 14.2355V14.6185C139.486 15.959 139.837 17.023 140.539 17.8103C141.242 18.5763 142.178 18.9593 143.348 18.9593Z" fill="white"/>
                    <path d="M161.519 12.3204H162.285L166.499 6.51128H170.903V6.70279L165.796 13.9482V14.5227L171.414 22.1511V22.3426H166.818L162.285 16.1505H161.519V22.3426H157.498V0H161.519V12.3204Z" fill="white"/>
                    <path d="M180.808 10.9798C180.808 11.4905 181.074 11.8629 181.606 12.0969C182.138 12.3097 183.106 12.4906 184.51 12.6396C186.127 12.8098 187.447 13.2992 188.468 14.1078C189.489 14.8951 190 16.0016 190 17.4273V17.6188C190 19.1934 189.425 20.4488 188.276 21.3851C187.127 22.3214 185.51 22.7895 183.425 22.7895C182.191 22.7895 181.137 22.6299 180.265 22.3107C179.393 21.9915 178.669 21.5979 178.095 21.1298C177.52 20.6403 177.073 20.1084 176.754 19.5339C176.456 18.9381 176.254 18.3635 176.148 17.8103L179.85 16.5974C180.02 17.2783 180.371 17.8741 180.903 18.3848C181.457 18.8955 182.297 19.1508 183.425 19.1508C184.425 19.1508 185.106 19.0019 185.468 18.704C185.851 18.3848 186.042 18.0443 186.042 17.6826C186.042 17.4698 185.989 17.2783 185.883 17.1081C185.797 16.9166 185.627 16.7463 185.372 16.5974C185.117 16.4272 184.765 16.2889 184.319 16.1825C183.893 16.0761 183.35 15.991 182.691 15.9271C180.903 15.7782 179.478 15.3207 178.414 14.5546C177.371 13.7673 176.85 12.6183 176.85 11.1075V10.916C176.85 10.1287 177.02 9.43711 177.36 8.8413C177.701 8.2455 178.148 7.74545 178.701 7.34116C179.254 6.91558 179.893 6.5964 180.616 6.38361C181.34 6.17083 182.084 6.06443 182.85 6.06443C183.85 6.06443 184.712 6.1921 185.436 6.44745C186.18 6.68152 186.808 7.0007 187.319 7.40499C187.83 7.78801 188.245 8.22422 188.564 8.71363C188.883 9.18176 189.128 9.63926 189.298 10.0861L185.659 11.5543C185.468 10.9798 185.138 10.533 184.67 10.2138C184.202 9.87332 183.595 9.70309 182.85 9.70309C182.169 9.70309 181.659 9.83076 181.318 10.0861C180.978 10.3202 180.808 10.6181 180.808 10.9798Z" fill="white"/>
                    <path d="M95.6738 36.1612C96.6796 36.1612 97.495 35.3533 97.495 34.3567C97.495 33.3601 96.6796 32.5521 95.6738 32.5521C94.6679 32.5521 93.8525 33.3601 93.8525 34.3567C93.8525 35.3533 94.6679 36.1612 95.6738 36.1612Z" fill="white"/>
                    <path d="M95.6738 29.1435C96.6796 29.1435 97.495 28.3356 97.495 27.339C97.495 26.3423 96.6796 25.5344 95.6738 25.5344C94.6679 25.5344 93.8525 26.3423 93.8525 27.339C93.8525 28.3356 94.6679 29.1435 95.6738 29.1435Z" fill="white"/>
                    <path d="M95.6738 42.9785C96.6796 42.9785 97.495 42.1706 97.495 41.1739C97.495 40.1773 96.6796 39.3694 95.6738 39.3694C94.6679 39.3694 93.8525 40.1773 93.8525 41.1739C93.8525 42.1706 94.6679 42.9785 95.6738 42.9785Z" fill="white"/>
                    <path d="M88.4335 41.428C89.4394 41.428 90.2548 40.62 90.2548 39.6234C90.2548 38.6268 89.4394 37.8188 88.4335 37.8188C87.4277 37.8188 86.6123 38.6268 86.6123 39.6234C86.6123 40.62 87.4277 41.428 88.4335 41.428Z" fill="white"/>
                    <path d="M81.1269 38.0551C82.1327 38.0551 82.9481 37.2472 82.9481 36.2506C82.9481 35.254 82.1327 34.446 81.1269 34.446C80.1211 34.446 79.3057 35.254 79.3057 36.2506C79.3057 37.2472 80.1211 38.0551 81.1269 38.0551Z" fill="white"/>
                    <path d="M103.047 41.428C104.053 41.428 104.868 40.62 104.868 39.6234C104.868 38.6268 104.053 37.8188 103.047 37.8188C102.041 37.8188 101.226 38.6268 101.226 39.6234C101.226 40.62 102.041 41.428 103.047 41.428Z" fill="white"/>
                    <path d="M110.353 38.0551C111.359 38.0551 112.175 37.2472 112.175 36.2506C112.175 35.254 111.359 34.446 110.353 34.446C109.348 34.446 108.532 35.254 108.532 36.2506C108.532 37.2472 109.348 38.0551 110.353 38.0551Z" fill="white"/>
                    <path d="M103.047 34.6108C104.053 34.6108 104.868 33.8029 104.868 32.8063C104.868 31.8096 104.053 31.0017 103.047 31.0017C102.041 31.0017 101.226 31.8096 101.226 32.8063C101.226 33.8029 102.041 34.6108 103.047 34.6108Z" fill="white"/>
                    <path d="M88.4335 34.6108C89.4394 34.6108 90.2548 33.8029 90.2548 32.8063C90.2548 31.8096 89.4394 31.0017 88.4335 31.0017C87.4277 31.0017 86.6123 31.8096 86.6123 32.8063C86.6123 33.8029 87.4277 34.6108 88.4335 34.6108Z" fill="white"/>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="uk-visible@m uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li><a href="#personas-alertadoras" uk-scroll>{% t navbar.item_1 %}</a></li>
              <li><a href="#sobre-latamleaks" uk-scroll>{% t navbar.item_2 %}</a></li>
              <li><a href="#plataformas" uk-scroll>{% t navbar.item_3 %}</a></li>
              <li><a href="#informe" uk-scroll>{% t navbar.item_4 %}</a></li>
              <li><a href="#contacto" uk-scroll class="uk-button uk-button-default">{% t navbar.item_5 %}</a></li>
            </ul>
          </div>
          <div class="uk-hidden@m uk-navbar-right">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
            <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
              <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">
                  <button class="uk-offcanvas-close" type="button" uk-close></button>
                  <ul class="uk-list">
                    <li><a href="#personas-alertadoras" uk-scroll>{% t navbar.item_1 %}</a></li>
                    <li><a href="#sobre-latamleaks" uk-scroll>{% t navbar.item_2 %}</a></li>
                    <li><a href="#plataformas" uk-scroll>{% t navbar.item_3 %}</a></li>
                    <li><a href="#informe" uk-scroll>{% t navbar.item_4 %}</a></li>
                    <li><a href="#contacto" uk-scroll class="uk-button uk-button-default">{% t navbar.item_5 %}</a></li>
                  </ul>
                  <ul class="uk-list uk-hidden">
                      {% if site.lang == "es" %}
                        {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                        {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                        <li> <a href="{{ link_en }}" >English</a> </li>
                        <li> <a href="{{ link_pt }}" >Português</a> </li>
                      {% elsif site.lang == "pt" %}
                        {% capture link_es %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                        {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                        <li> <a href="{{ link_es }}" >Español</a> </li>
                        <li> <a href="{{ link_en }}" >English</a> </li>
                      {% elsif site.lang == "en" %}
                        {% capture link_es %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                        {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                        <li> <a href="{{ link_es }}" >Español</a> </li>
                        <li> <a href="{{ link_pt }}" >Português</a> </li>
                      {% endif %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
</header>
