/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5 {
  font-family: $title-font-family;
  font-weight: bold;
}

h1{
  font-size: 2.2rem;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
 * Links
 */
a {
  color: $project-color-1st-0;
  text-decoration: none;
  &:hover, &:focus{
    color: $project-color-2nd-0;
    text-decoration: none;
  }
}

/**
 * Sections
 */
.bg-color-1st-0{
 background: $project-color-1st-0;
}

.bg-color-2nd-0{
 background: $project-color-2nd-0;
}

.bg-color-1st-6{
 background: $project-color-1st-6;
}

.bg-color-2nd-6{
 background: $project-color-2nd-6;
}

.bg-gradient{
  background: $background-gradient;
}

.bg-black{
 background: $black;
}

.bg-black-soft{
 background: $black-soft;
}

.bg-grey{
 background: $grey;
}

.bg-grey-soft{
 background: $grey-soft;
}

.bg-grey-light{
 background: $grey;
}

.bg-grey-light-soft{
 background: $grey-light-soft;
}

.uk-section{
 padding-top: 150px;
 padding-bottom: 150px;
}

.section-no-color{
 a{
   color: $grey;
   &:hover, &:focus{
     color: $grey-soft;
   }
 }
 .uk-description-list>dt{
   color: $black;
 }
}

.section-color-1st-6{
 background-color: $project-color-1st-6;
 h1, h2, h3, h4, h5{
   color: $black;
 }
 a{
   color: $project-color-1st-0;
   &:hover, &:focus{
     color: $project-color-1st-2;
   }
 }
 .font-lead{
   color: $project-color-1st-0;
 }
 .uk-description-list>dt{
   color: $project-color-1st-0;
 }
}

.section-color-2nd-6{
 background-color: $project-color-2nd-6;
 h1, h2, h3, h4, h5{
   color: $project-color-2nd-0;
 }
 a{
   color: $project-color-2nd-0;
   &:hover, &:focus{
     color: $project-color-2nd-2;
   }
 }
 .font-lead{
   color: $project-color-2nd-0;
 }
 .uk-description-list>dt{
   color: $project-color-2nd-0;
 }
}

.section-color-1st-0{
 background: $project-color-1st-0;
 h1, h2, h3, h4, h5, p{
   color: white;
 }
 a{
   color: $grey-soft;
   &:hover, &:focus{
     color: white;
   }
 }
 .font-lead{
   color: white;
 }
}

.section-color-2nd-0{
 background: $project-color-2nd-0;
 h1, h2, h3, h4, h5, p{
   color: white;
 }
 a{
   color: $grey-soft;
   &:hover, &:focus{
     color: white;
   }
 }
 .font-lead{
   color: white;
 }
}

.section-gradient{
 background: $background-gradient;
 h1, h2, h3, h4, h5, p{
   color: white;
 }
 a{
   color: $grey-soft;
   &:hover, &:focus{
     color: white;
   }
 }
 .font-lead{
   color: white;
 }
}

.section-black{
 background: $black;
 h1, h2, h3, h4, h5, p{
   color: white;
 }
 a{
   color: $grey-soft;
   &:hover, &:focus{
     color: white;
   }
 }
 .font-lead{
   color: white;
 }
}

.section-black-soft{
 background: $black-soft;
 h1, h2, h3, h4, h5, p{
   color: white;
 }
 a{
   color: $grey-soft;
   &:hover, &:focus{
     color: white;
   }
 }
 .font-lead{
   color: white;
 }
}

.section-grey{
 background: $grey;
 h1, h2, h3, h4, h5, p{
   color: white;
 }
 a{
   color: $grey-soft;
   &:hover, &:focus{
     color: white;
   }
 }
 .font-lead{
   color: white;
 }
}

.section-grey-soft{
 background: $grey-soft;
 h1, h2, h3, h4, h5, p{
   color: $black;
 }
 a{
   color: $grey;
   &:hover, &:focus{
     color: $black;
   }
 }
 .font-lead{
   color: $black;
 }
}

.section-grey-light{
 background: $grey-light;
 h1, h2, h3, h4, h5, p{
   color: $black;
 }
 a{
   color: $grey;
   &:hover, &:focus{
     color: $black;
   }
 }
 .font-lead{
   color: $black;
 }
}

.section-grey-light-soft{
 background: $grey-light-soft;
 h1, h2, h3, h4, h5, p{
   color: $black;
 }
 a{
   color: $grey;
   &:hover, &:focus{
     color: $black;
   }
 }
 .font-lead{
   color: $black;
 }
}

#welcome-page {
 padding: 160px 0 0;
 &.uk-height-viewport{
   min-height: 55vh;
 }
}

#hero {
  padding-top: 30px;
  background: $background-gradient;
}

/**
 * Buttons
 */
.uk-button{
 font-family: $title-font-family;
 text-transform: none;
 font-weight: 600;
 background: transparent;
}

.button-color-1st, a.button-color-1st{
 color: $project-color-1st-0;
 border: 2px solid $project-color-1st-0;
 &:hover, &:focus{
   color: white;
   background: $project-color-1st-0;
 }
}

.button-color-2nd, a.button-color-2nd{
 color: $project-color-2nd-0;
 border: 2px solid $project-color-2nd-0;
 &:hover, &:focus{
   color: white;
   background: $project-color-2nd-0;
 }
}

.button-white-color-1st, a.button-white-color-1st{
 color: white;
 border: 2px solid white;
 &:hover, &:focus{
   color: $project-color-1st-0;
   background: white;
 }
}

.button-white-color-2nd, a.button-white-color-2nd{
 color: white;
 border: 2px solid white;
 &:hover, &:focus{
   color: $project-color-2nd-0;
   background: white;
 }
}

.button-white-black, a.button-white-black{
 color: white;
 border: 2px solid white;
 &:hover, &:focus{
   color: $black;
   background: white;
 }
}

.button-white-black-soft, a.button-white-black-soft{
 color: white;
 border: 2px solid white;
 &:hover, &:focus{
   color: $black-soft;
   background: white;
 }
}

.button-white-grey, a.button-white-grey{
 color: white;
 border: 2px solid white;
 &:hover, &:focus{
   color: $grey;
   background: white;
 }
}

.button-black-grey-soft, a.button-black-grey-soft{
 color: $black;
 border: 2px solid $black;
 &:hover, &:focus{
   color: $grey-soft;
   background: $black;
 }
}

.button-black-grey-light, a.button-black-grey-light{
 color: $black;
 border: 2px solid $black;
 &:hover, &:focus{
   color: $grey-light;
   background: $black;
 }
}
.button-black-grey-light-soft, a.button-black-grey-light-soft{
 color: $black;
 border: 2px solid $black;
 &:hover, &:focus{
   color: $grey-light-soft;
   background: $black;
 }
}
s
/**
 * Basic texts
 */
span{
  font-weight: 600;
}

strong{
  font-weight: 600;
}

.uk-label{
  font-weight: 400;
  padding: 3px 7px;
  text-transform: none;
  border-radius: 0;
  font-size: 0.8rem;
  .bg-1{
    background: $project-color-1st-0;
  }
}

.uk-description-list>dt{
    text-transform: none;
    font-weight: 600;
    font-family: $title-font-family;
}

.uk-accordion-title{
  font-size: 1.1rem;
}

.font-600{
  font-weight: 600;
}

.font-mono{
  font-family: $title-font-family;
}

.font-sans{
  font-family: $base-font-family;
}

.font-color-1st-0{
  color: $project-color-1st-0 !important;
}

.font-color-2nd-0{
  color: $project-color-2nd-0 !important;
}

.font-lead{
  font-family: $title-font-family;
  font-weight: 400;
  font-size: 1.2rem;
  margin: -10px 0 20px;
}

.font-small{
  font-size: 0.7rem;
  line-height: 1.8;
}

.font-little-title{
  font-family: $title-font-family;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.1;
}

.font-compressed{
  line-height: 1.6;
}

.uk-breadcrumb{
  font-family: $title-font-family;
}

h1.no-project-color, h2.no-project-color, h3.no-project-color, h4.no-project-color, h5.no-project-color, .font-lead.no-project-color, .uk-description-list>dt.no-project-color{
    color: $black;
  }


.list-angle {
  margin: -10px 0 16px 36px;
  float: left;
  &::before{
    content: url(../assets/images/icon-angle-right.svg);
    position: relative;
    left: -10px;
    margin-left: -24px;
    top: 8px;
  }
}

/**
 * Article
 */
.uk-article-meta{
  font-family: $title-font-family;
}

blockquote{
  font-family: $title-font-family;
}

cite {
  font-size: 0.9rem;
  font-style: normal;
}

/**
 * Images and svgs
 */


/**
 * Navbar
 */
header.uk-sticky {
    background: transparent;
    margin-bottom: -120px;
    z-index: 200;
}

.uk-navbar-dropdown-nav>li>a {
 color: $black-soft;
 font-size: 0.7rem;
 &:hover{
   color: $project-color-1st-0;
 }
}

.uk-navbar-nav{
  .uk-button-default, a.uk-button-default{
    color: $project-color-1st-0;
    border: 2px solid white;
    background-color: white;
    font-family: $title-font-family;
    text-transform: none;
    &:hover{
      color: white;
      background: transparent;
    }
  }
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
  min-height: 50px;
}

.navbar-language {
  font-size: 0.7rem;
  margin-bottom: 16px;
  padding-top: 8px;
}

.navbar-fci {
  font-family: $title-font-family;
  font-size: 0.8rem;
  margin-top: 3px !important;
}

.navbar-language>a, .navbar-fci>a, .uk-navbar-nav>li>a{
  color: white;
  text-transform: none;
  &:hover, &:focus{
    color: $grey-soft;
    text-decoration: none;
  }
}

.uk-navbar-container>.uk-container .uk-navbar-left {
  margin-left: 0;
}

.uk-navbar-container>.uk-container .uk-navbar-right{
  margin-top: -30px;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle, li.uk-active>a{
  color: $black-soft;
  font-family: $base-font-family;
  color: white;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: $grey-light-soft;
  a{
    color: $black-soft;
  }
  .navbar-language>a, .navbar-fci>a, .uk-navbar-nav>li>a{
    color: $black-soft;
    text-transform: none;
    &:hover, &:focus,{
      color: $project-color-1st-0;
      text-decoration: none;
    }
  }
  .uk-button-default, a.uk-button-default{
    color: $grey-light-soft !important;
    background-color: $black-soft;
    border: 2px solid $black-soft;
    font-family: $title-font-family;
    text-transform: none;
    &:hover{
      color: $black-soft !important;
      background-color: transparent;
    }
  }
  svg>path{
    fill: $black-soft;
  }
}


/**
 * Hero
 */
.icon-hero>svg{
  width: 4%;
  &:hover, &:focus{
    path{
      fill: $grey-soft;
    }
  }
}

@keyframes changeLetter {
  0% { color:transparent }
  7% { content: 'Transparentar los poderes ocultos';color: white }
  14% { color:transparent }
  21% { content: 'Defender los derechos humanos'; color: white}
  28% { color:transparent }
  35% { content: 'Luchar contra la corrupción'; color: white}
  42% { color:transparent }
  49% { content: 'Evitar que se deforeste el Amazonas';color: white }
  56% { color:transparent }
  63% { content: 'Acabar con la violencia de género';color: white }
  71% { color:transparent }
  78% { content: 'Proteger nuestras democracias';color: white }
  85% { color:transparent }
  92% { content: 'Que las empresas rindan cuentas';color: white }
  100% { color:transparent }
}

.element {
  justify-content: center;
  margin-bottom: 30px;
  &:after {
    animation: changeLetter 20s linear infinite;
    content: 'Transparentar los poderes ocultos';
    display: block;
    font-size: 2.4rem;
    line-height: 1.1;
    font-family: $title-font-family;
    color: white;
    font-weight: 700;
  }
}

/**
 * Footer
 */
footer {
  background: $black-soft;
  color: white;
  font-size: 0.8rem;
  padding: 50px 0 30px;
  a{
    color: white;
    &:hover, &:focus{
      color: $grey-light-soft;
      text-decoration: none;
    }
  }
}

.list-footer{
  line-height: 1;
  li>a{
    &:hover, &:focus{
      color: $grey-soft;
      text-decoration: none;
    }
  }
}

.logo-footer{
  padding-top: 35px;
  width: 90%;
}

.logo-footer-50{
  width: 50%;
}

.logo-footer-70{
  width: 70%;
}

svg.icon-footer {
  width: 9%;
  &:hover, &:focus{
    fill: $grey-soft;
  }
}

svg.icon-footer>path {
  &:hover, &:focus{
    fill: $grey-soft;
  }
}

.logo-footer-fci>svg{
    &:hover, &:focus{
      path{
        fill: $grey-soft;
      }
    }
}
