@media only screen and (max-width: 991px) {
  h1{
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1rem;
  }
  h4{
    font-size: 0.9rem;
  }
  h5{
    font-size: 0.8rem;
  }
  body{
    font-size: 0.8rem;
    line-height: 1.7;
  }
  .uk-accordion-title {
    font-size: 1rem;
  }
  /**
   * Sections
   */
  .uk-section{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .element:after {
      font-size: 1.8rem;
      line-height: 1.1;
  }


  /**
   * Navbar
   */
  .uk-navbar {
    padding: 30px 0 0;
  }

  .navbar-language {
    margin-bottom: 6px;
  }

  .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle, li.uk-active > a{
    color: white;
    &:hover{
      color: white;
    }
  }

  .uk-offcanvas-bar{
    background: $grey-light-soft;
    font-size: 0.8rem;
    a{
      color: $black-soft;
      &:hover, &:focus{
        color: $project-color-1st-0;
        text-decoration: none;
      }
    }
    hr{
      border-top-color: $black-soft;
      border-top: 2px solid $black-soft;
    }
    .uk-close{
      color: $black-soft;
      &:hover, &:focus{
        color: $project-color-1st-0;
      }
    }
    .uk-button-default{
      color: $black-soft;
      border: 2px solid $black-soft;
      font-family: $title-font-family;
      text-transform: none;
      &:hover{
        color: $grey-light-soft;
        border-color: $black-soft;
        background: $black-soft;
      }
    }
  }

  .logo-navbar>svg{
    width: 60%;
  }
  /**
   * Hero
   */
  .icon-hero>svg{
      width: 10%;
  }
}
